<section class="bg-success p-2">
  <div class="container mt-4">
    <div class="card border-light mx-auto" style="max-width: 600px">
      <div class="card-header bg-light">
        <div class="navbar navbar-expand p-0">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a href="" class="nav-link">
                <div class="img">
                  <img
                    src="../../assets/images/pleasant-looking-guy-with-african-hairstyle-having-hesitation-pressing-his-lips-looking-aside.jpg"
                    alt=""
                    class="img-fluid rounded-circle"
                    style="height: 44px"
                  />
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link"></a>
            </li>
          </ul>

          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a href="" class="nav-link">
                <i class="fas fa-phone-alt"></i>
              </a>
            </li>
            <!-- <li class="nav-item">
              <a href="" class="nav-link">
                <i class="fas fa-video"></i>
              </a>
            </li> -->
            <li class="nav-item">
              <a href="" class="nav-link">
                <i class="fas fa-times"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-body p-4 bg-dark" style="height: 400px; overflow: auto">
        <div class="d-flex align-items-baseline mb-4">
          <div class="pe-2">
            <div
              class="card border-light bg-secondary b-rad text-dark d-inline-block p-2 px-3 m-1"
            >
              Hi, what can i do for you today?
            </div>
          </div>
        </div>

        <div
          class="d-flex align-items-baseline text-end justify-content-end mb-4"
        >
          <div class="pe-2">
            <div
              class="card border-light bg-warning d-inline-block p-2 px-3 m-1"
            >
              I need you?
            </div>
          </div>
        </div>

        <div class="d-flex align-items-baseline mb-4">
          <div class="pe-2">
            <div
              class="card border-light bg-secondary b-rad text-dark d-inline-block p-2 px-3 m-1"
            >
              i am here now lol?
            </div>
          </div>
        </div>

        <div
          class="d-flex align-items-baseline text-end justify-content-end mb-4"
        >
          <div class="pe-2">
            <div
              class="card border-light bg-warning d-inline-block p-2 px-3 m-1"
            >
              Thank you?
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer bg-light bottom-0 m-0 p-1">
        <div class="input-group">
          <div class="input-group-text bg-transparent border-0">
            <button class="btn btn-light">
              <i class="fas fa-paperclip"></i>
            </button>
          </div>
          <input
            type="text"
            class="form-control border-0"
            placeholder="You need chatai?......."
          />
          <!-- <div class="input-group-text bg-transparent border-0">
          <button class="btn btn-light">
            <i class="fas fa-smile"></i>
          </button>
        </div> -->
          <div class="input-group-text bg-transparent border-0">
            <button class="btn btn-light">
              <i class="fas fa-microphone"></i>
            </button>
          </div>
          <div class="input-group-text bg-transparent border-0">
            <button class="btn btn-light">
              <i class="fa-regular fa-paper-plane"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
