<section class="bg-success vh-100">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-sm-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card mt-5 border-light">
          <div class="card-body p-5 text-center">
            <a
              [routerLink]="['']"
              class="navbar-brand d-flex align-items-center justify-content-start"
            >
              <span class="text-danger fw-bold Mulish">CHAT-AI</span>
            </a>
            <h5 class="text-center fs-6 fw-bold mt-3 Mulish">LOG IN</h5>
            <!-- <p class="text-start mb-2">A great step!!!</p> -->
            <form [formGroup]="loginForm">
              <div class="form-outline mb-4">
                <input
                  type="email"
                  class="form-control Mulish"
                  name="email"
                  formControlName="email"
                  [(ngModel)]="email"
                  placeholder="email address"
                />
                <div
                  class="mb-4"
                  *ngIf="
                    loginForm.get('email').invalid &&
                    (loginForm.get('email').dirty ||
                      loginForm.get('email').touched)
                  "
                >
                  <p class="text-warning text-start">*email required</p>
                </div>

                <input
                  type="password"
                  name="password"
                  class="form-control mt-4 Mulish"
                  formControlName="password"
                  [(ngModel)]="password"
                  placeholder="***********"
                />
                <div
                  class="mb-4"
                  *ngIf="
                    loginForm.get('password').invalid &&
                    (loginForm.get('password').dirty ||
                      loginForm.get('password').touched)
                  "
                >
                  <p class="text-warning text-start">*password required</p>
                </div>
              </div>

              <div class="d-flex align-items-center justify-content-between">
                <!-- Remember me Section -->
                <div class="d-flex align-item-center justify-content-between">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="flexCheckDefault"
                    />
                    <label
                      class="form-check-label text-size mb-2 Mulish"
                      for="flexCheckDefault"
                    >
                      Remember me
                    </label>
                  </div>
                </div>
              </div>

              <!-- <button class="btn btn-color w-100" type="submit"> -->
              <a
                type="submit"
                [routerLink]="['/chat-in']"
                role="button"
                class="btn btn-success text-light Mulish mt-4"
                >Login</a
              >
              <!-- </button> -->
            </form>
            <!-- <div class="text-start mt-3">
              <p class="fs-6 start-style Mulish">
                New to zeekart?
                <a
                  [routerLink]="['/signup']"
                  class="text-decoration-none text-success start-style Mulish"
                  >Get started</a
                >
              </p>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
