<section class="bg-light text-dark p-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 margin">
        <div class="">
          <h2 class="fw-bolder Poppins space">A simple AI Chat App</h2>
          <p class="Poppins mt-3">
            Effortlessly stay connected with the world. <br />
            <span class="text-warning">ChatAi</span> provides a seamless, fast,
            and reliable way to communicate with the people who matter most.
          </p>
          <div class="animation mt-2 button">
            <a
              [routerLink]="['/sign-in']"
              routerLinkActive="active"
              role="button"
              class="btn btn-danger fw-normal Mulish"
              >Start for free</a
            >
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 slide-in">
        <img
          src="../../../assets/images/62335.jpg"
          alt=""
          class="img-fluid rounded-circle"
        />
      </div>
    </div>
  </div>
</section>
