<section class="bg-success vh-100">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-sm-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card mt-5 border-light">
          <div class="card-body p-5 text-center">
            <a
              [routerLink]="['']"
              class="navbar-brand d-flex align-items-center justify-content-start"
            >
              <span class="text-danger fw-bold Mulish">CHAT-AI</span>
            </a>
            <h5 class="text-center fs-6 fw-bold mt-3 Mulish">REGISTER</h5>
            <form [formGroup]="signupForm">
              <div class="form-outline mb-4">
                <input
                  type="name"
                  class="form-control Mulish"
                  name="name"
                  formControlName="name"
                  placeholder="name"
                />
                <div
                  class="mb-4"
                  *ngIf="
                    signupForm.get('name').invalid &&
                    (signupForm.get('name').dirty ||
                      signupForm.get('name').touched)
                  "
                >
                  <p class="text-primary text-start">*name required</p>
                </div>

                <input
                  type="email"
                  name="email"
                  class="form-control mt-4 Mulish"
                  formControlName="email"
                  placeholder="email"
                />
                <div
                  class="mb-4"
                  *ngIf="
                    signupForm.get('email').invalid &&
                    (signupForm.get('email').dirty ||
                      signupForm.get('email').touched)
                  "
                >
                  <p class="text-primary text-start">*email required</p>
                </div>
              </div>

              <input
                type="password"
                class="form-control mt-4 Mulish"
                name="password"
                formControlName="password"
                placeholder="password"
              />

              <div
                class="mb-4"
                *ngIf="
                  signupForm.get('password').invalid &&
                  (signupForm.get('password').dirty ||
                    signupForm.get('password').touched)
                "
              >
                <p class="text-primary text-start">*password required</p>
              </div>

              <input
                type="password"
                class="form-control mt-4 Mulish"
                formControlName="conpassword"
                name="conpassword"
                placeholder="confirm password"
              />
              <div
                class="mb-4"
                *ngIf="
                  signupForm.get('conpassword').invalid &&
                  (signupForm.get('conpassword').dirty ||
                    signupForm.get('conpassword').touched)
                "
              >
                <p class="text-primary text-start">*password does not match</p>
              </div>
              <div class="text-start mt-3">
                <p class="fs-6 Mulish">
                  Already have an account?
                  <a
                    [routerLink]="['/login']"
                    class="text-decoration-none text-danger Mulish"
                    >Log in here!</a
                  >
                </p>
              </div>
              <a
                type="submit"
                [routerLink]="['/login']"
                role="button"
                class="btn btn-success text-light Mulish mt-2"
                >Register</a
              >
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="bg-success">
  <div class="container">
    <div class="height vh-100">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-sm-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card border-light mt-3 mb-4">
            <div class="card-body p-5 text-center">
              <a
                [routerLink]="['']"
                class="navbar-brand d-flex align-items-center justify-content-start"
              >
                <span class="text-danger lead font fw-bold Mulish"
                  >ZEEKART</span
                >
              </a>
              <h5 class="text-center fs-6 fw-bold mt-3 Mulish">SIGN IN</h5>
              <form [formGroup]="signupForm">
                <div class="form-outline mb-4">
                  <input
                    type="name"
                    class="form-control Mulish"
                    formControlName="name"
                    name="name"
                    placeholder="name"
                  />
                  <div
                    class="mb-4"
                    *ngIf="
                      signupForm.get('name').invalid &&
                      (signupForm.get('name').dirty ||
                        signupForm.get('name').touched)
                    "
                  >
                    <p class="text-warning">*please provide a name</p>
                  </div>

                  <input
                    type="email"
                    name="email"
                    class="form-control mt-4 Mulish"
                    formControlName="email"
                    placeholder="email"
                  />
                  <div
                    class="mb-4"
                    *ngIf="
                      signupForm.get('email').invalid &&
                      (signupForm.get('email').dirty ||
                        signupForm.get('email').touched)
                    "
                  >
                    <p class="text-warning">*please provide an email</p>
                  </div>

                  <input
                    type="password"
                    class="form-control mt-4 Mulish"
                    name="password"
                    formControlName="password"
                    placeholder="password"
                  />

                  <div
                    class="mb-4"
                    *ngIf="
                      signupForm.get('password').invalid &&
                      (signupForm.get('password').dirty ||
                        signupForm.get('password').touched)
                    "
                  >
                    <p class="text-warning">*password required</p>
                  </div>

                  <input
                    type="password"
                    class="form-control mt-4 Mulish"
                    formControlName="conpassword"
                    name="conpassword"
                    placeholder="confirm password"
                  />

                  <span
                    class="text-warning mt-2"
                    *ngIf="f['conpassword'].getError('Mustmatch') != null"
                    >*password mismatched</span
                  >
                </div>
                <div
                  class="d-flex align-item-center justify-content-between mt-2"
                ></div>

                <a
                  type="submit"
                  role="button"
                  [routerLink]="['/login']"
                  class="btn btn-success w-100 text-light form-control Mulish"
                  >Register</a
                >
              </form>
              <div class="text-start mt-3">
                <p class="fs-6 Mulish">
                  Already have an account?
                  <a
                    [routerLink]="['/login']"
                    class="text-decoration-none text-success Mulish"
                    >Log in here!</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
