/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: Poppins;
  src: url(assets/fonts/Poppins-Regular.ttf) format("truetype");
}

.Poppins {
  font-family: Poppins;
}

@font-face {
  font-family: Mulish;
  src: url(assets/fonts/Mulish-VariableFont_wght.ttf) format("truetype");
}

.Mulish {
  font-family: Mulish;
}
